html(lang="en")
    head   
        meta(charset="UTF-8")
        title Ingrid
        link(rel="stylesheet" href="css/main.min.css")
    body
        include components/header
        .page-main(role="main")
            .section
                include components/hero
            .section
                include components/articleCards
                
        footer.page-footer

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="js/main.js")