header.page-header
    .container.page-header__container
        .page-header__logo
            img(src="img/logo.png")
        nav.nav--main.page-header__nav
            ul
                li
                    a Home
                li
                    a About
                li
                    a Events
                li
                    a Visiting Grants
                li  
                    a Virtual Data Access
                li
                    a Project Output
                li
                    a E-Portal