header.page-header
    img(src="img/logo.png")
    nav.nav--main
        ul
            li
                a Home
            li
                a About
            li
                a Events
            li
                a Visiting Grants
            li  
                a Virtual Data Access
            li
                a Project Output
            li
                a E-Portal