.hero
    .container
        h1 Supporting expertise in inclusive growth
        p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
        .cta
            input(type="text")
            a.btn Subscribe